html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    background: var(--main-fon);
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: auto;
}