@media (min-width: 1920px) {

}
@media (min-width: 1600px) and (max-width: 1919px) {

}
@media (min-width: 1536px) and (max-width: 1599px) {

}
@media (min-width: 1440px) and (max-width: 1535px) {

}
@media (min-width: 1280px) and (max-width: 1365px) {

}
@media (min-width: 1200px) {
  .hidden-lg {
      display: none!important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none!important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none!important;
  }
}
@media (max-width: 1194px) { // iPad Pro 11″834 x 1194

}
@media (max-width: 1180px) { // iPad Air 10.9″820 x 1180

}
@media (max-width: 1080px) { // iPad 10.2″810 x 1080

}
@media (max-width: 1024px) { // iPad Mini 7.9″768 x 1024

}

@media (max-width: 834px) { // iPad Pro 11″834 x 1194

}

@media (max-width: 820px) {

}

@media (max-width: 800px) {

}

// Width and Height start

@media (width: 768px) and (height: 1024px) {

}
@media (width: 712px) and (height: 1138px) {

}
@media (width: 600px) and (height: 1024px) {

}

// Width and Height end

@media (max-width: 768px) {

}

/* xs */ 
@media (max-width: 750px) {

}

@media (max-width: 667px) {

}

@media (max-width: 640px) {

}

@media (max-width: 568px) {

}

@media (max-width: 425px) {

}

@media (max-width: 414px) {
  // Стили
}

@media (max-width: 393px) {
 // Стили
}

@media (max-width: 390px) {
  // Стили
}

@media (max-width: 375px) {
  // Стили
}

@media (max-width: 360px) {

}

@media (max-width: 320px) {

}