:root {
    --main-text-color: #FFFFFF;
    --darck-text: #000000;
    --main-fon: #C0DBD9;
    --fon-card: rgba(27, 27, 28, 1);
    --btn-fon: linear-gradient(87.05deg, #DC6B30 17.99%, #E4864F 49.64%, #FFBE82 72.7%, #E49031 93.02%);

}