@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-text-color: #FFFFFF;
  --darck-text: #000000;
  --main-fon: #C0DBD9;
  --fon-card: rgba(27, 27, 28, 1);
  --btn-fon: linear-gradient(87.05deg, #DC6B30 17.99%, #E4864F 49.64%, #FFBE82 72.7%, #E49031 93.02%);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Margin and Padding start */
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-30-i {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-35-i {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-50-i {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-55-i {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-370 {
  margin-bottom: 370px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-30-i {
  margin-left: 30px !important;
}

.ml-90 {
  margin-left: 90px;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mb-20-i {
  margin-bottom: 20px !important;
}

.p-0 {
  padding: 0px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-20-i {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-20-i {
  padding-left: 20px !important;
}

.pl-40 {
  padding-left: 40px;
}

.pl-40-i {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px;
}

.pl-50-i {
  padding-left: 50px !important;
}

.pl-60 {
  padding-left: 60px;
}

.pl-60-i {
  padding-left: 60px !important;
}

.pl-70 {
  padding-left: 70px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

/* Margin and Padding end */
/* Text-left start */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

/* Text-left end */
/* Display flex */
/* -- Для Контейнера */
.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-i-f {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.j-c-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.j-c-s {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-c-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-d-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-d-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.f-d-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.f-w-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-w-nw {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* Для элемента */
.a-sf-start {
  -ms-flex-item-align: start;
      align-self: start;
}

.a-sf-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.a-sf-end {
  -ms-flex-item-align: end;
      align-self: end;
}

/* Display */
.d-b {
  display: block;
}

.d-i-b {
  display: inline-block;
}

.d-i {
  display: inline;
}

/* color-text */
.red-text {
  color: red;
}

.green-text {
  color: green;
}

.black-text {
  color: black;
}

.black-white {
  color: white;
}

/* font-size */
.f-s-1 {
  font-size: 1rem;
}

.f-s-15 {
  font-size: 1.5rem;
}

.f-s-2 {
  font-size: 2rem;
}

.f-s-25 {
  font-size: 2.5rem;
}

.f-s-25-i {
  font-size: 2.5rem !important;
}

/* Позиционирование */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sticky-i {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.inset-0 {
  inset: 0;
}

.top-10 {
  top: 10px;
}

.top-15 {
  top: 15px;
}

.top-20 {
  top: 20px;
}

.top-25 {
  top: 25px;
}

.top-30 {
  top: 30px;
}

.top-35 {
  top: 35px;
}

.top-40 {
  top: 40px;
}

.top-45 {
  top: 45px;
}

.top-50 {
  top: 50px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center-i {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-flex-i {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

/* Borders */
.border-none {
  border: none;
}

.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-dashed-1 {
  border: 1px dashed rgb(226, 237, 243);
}

.border-top-dashed-1 {
  border-top: 1px dashed rgb(226, 237, 243);
}

.border-top-dashed-2 {
  border-top: 2px dashed rgb(226, 237, 243);
}

.border-top-dashed-3 {
  border-top: 3px dashed rgb(226, 237, 243);
}

.border-top-dashed-4 {
  border-top: 4px dashed rgb(226, 237, 243);
}

.border-top-dashed-5 {
  border-top: 5px dashed rgb(226, 237, 243);
}

/* Border radius */
.b-r-0 {
  border-radius: 0px;
}

.b-r-5 {
  border-radius: 5px;
}

.b-r-10 {
  border-radius: 10px;
}

.b-r-15 {
  border-radius: 15px;
}

.b-r-20 {
  border-radius: 20px;
}

.b-r-25 {
  border-radius: 25px;
}

.b-r-30 {
  border-radius: 30px;
}

.b-circle {
  border-radius: 50%;
}

.clearfix {
  clear: both;
}

.clearfix-left {
  clear: left;
}

.clearfix-right {
  clear: right;
}

.f-w-300 {
  font-weight: 300 !important;
}

html {
  font-size: 62.5%;
}

/* Ширина елемента */
.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-33 {
  width: 33%;
}

.w-30 {
  width: 30%;
}

.w-15 {
  width: 15%;
}

/* Высота елемента */
.h-100 {
  height: 100%;
}

/* Классы hide и show */
.hide {
  display: none !important;
}

.show {
  display: block;
}

.show-i {
  display: block !important;
}

@media (min-width: 1025px) {
  .hide-from-1024 {
    display: none;
  }
}
/* Ul Ol column and Grid */
.columns-2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.columns-3 {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}

.columns-4 {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
}

.ch-b-10 > div {
  width: 10%;
}

.ch-b-20 > div {
  width: 20%;
}

.ch-b-23 > div {
  width: 23%;
}

.ch-b-25 > div {
  width: 25%;
}

.ch-b-26 > div {
  width: 26%;
}

.ch-b-27 > div {
  width: 27%;
}

.ch-b-28 > div {
  width: 28%;
}

.ch-b-30 > div {
  width: 30%;
}

.ch-b-31 > div {
  width: 31%;
}

.ch-b-32 > div {
  width: 32%;
}

.ch-b-33 > div {
  width: 33%;
}

.ch-b-3333 > div {
  width: 33.33%;
}

.ch-b-40 > div {
  width: 40%;
}

.ch-b-45 > div {
  width: 45%;
}

.ch-b-48 > div {
  width: 48%;
}

.ch-b-50 > div {
  width: 50%;
}

.ch-b-10-90 > div:nth-child(1) {
  width: 10%;
}
.ch-b-10-90 > div:nth-child(2) {
  width: 90%;
}

.ch-b-90-10 > div:nth-child(1) {
  width: 90%;
}
.ch-b-90-10 > div:nth-child(2) {
  width: 10%;
}

.ch-b-20-80 > div:nth-child(1) {
  width: 20%;
}
.ch-b-20-80 > div:nth-child(2) {
  width: 80%;
}

.ch-b-80-20 > div:nth-child(1) {
  width: 80%;
}
.ch-b-80-20 > div:nth-child(2) {
  width: 20%;
}

.ch-b-30-70 > div:nth-child(1) {
  width: 30%;
}
.ch-b-30-70 > div:nth-child(2) {
  width: 70%;
}

.ch-b-70-30 > div:nth-child(1) {
  width: 70%;
}
.ch-b-70-30 > div:nth-child(2) {
  width: 30%;
}

.ch-b-25-75 > div:nth-child(1) {
  width: 25%;
}
.ch-b-25-75 > div:nth-child(2) {
  width: 75%;
}

.ch-b-75-25 > div:nth-child(1) {
  width: 75%;
}
.ch-b-75-25 > div:nth-child(2) {
  width: 25%;
}

.ch-b-65-35 > div:nth-child(1) {
  width: 65%;
}
.ch-b-65-35 > div:nth-child(2) {
  width: 35%;
}

.ch-b-35-65 > div:nth-child(1) {
  width: 35%;
}
.ch-b-35-65 > div:nth-child(2) {
  width: 65%;
}

.ch-b-65-30 > div:nth-child(1) {
  width: 65%;
}
.ch-b-65-30 > div:nth-child(2) {
  width: 30%;
}

.ch-b-30-65 > div:nth-child(1) {
  width: 30%;
}
.ch-b-30-65 > div:nth-child(2) {
  width: 65%;
}

.ch-b-40-60 > div:nth-child(1) {
  width: 40%;
}
.ch-b-40-60 > div:nth-child(2) {
  width: 60%;
}

.ch-b-60-40 > div:nth-child(1) {
  width: 60%;
}
.ch-b-60-40 > div:nth-child(2) {
  width: 40%;
}

.ch-b-35-60 > div:nth-child(1) {
  width: 35%;
}
.ch-b-35-60 > div:nth-child(2) {
  width: 60%;
}

.ch-b-60-35 > div:nth-child(1) {
  width: 60%;
}
.ch-b-60-35 > div:nth-child(2) {
  width: 35%;
}

.ch-b-30-60 > div:nth-child(1) {
  width: 30%;
}
.ch-b-30-60 > div:nth-child(2) {
  width: 60%;
}

.ch-b-60-30 > div:nth-child(1) {
  width: 60%;
}
.ch-b-60-30 > div:nth-child(2) {
  width: 30%;
}

.ch-b-50-50 > div:nth-child(1) {
  width: 50%;
}
.ch-b-50-50 > div:nth-child(2) {
  width: 50%;
}

.ch-b-45-55 > div:nth-child(1) {
  width: 45%;
}
.ch-b-45-55 > div:nth-child(2) {
  width: 55%;
}

.ch-b-55-45 > div:nth-child(1) {
  width: 55%;
}
.ch-b-55-45 > div:nth-child(2) {
  width: 45%;
}

.ch-b-45-50 > div:nth-child(1) {
  width: 45%;
}
.ch-b-45-50 > div:nth-child(2) {
  width: 50%;
}

.ch-b-50-45 > div:nth-child(1) {
  width: 50%;
}
.ch-b-50-45 > div:nth-child(2) {
  width: 45%;
}

.ch-b-40-50 > div:nth-child(1) {
  width: 40%;
}
.ch-b-40-50 > div:nth-child(2) {
  width: 50%;
}

.ch-b-50-40 > div:nth-child(1) {
  width: 50%;
}
.ch-b-50-40 > div:nth-child(2) {
  width: 40%;
}

.ch-b-40-45 > div:nth-child(1) {
  width: 40%;
}
.ch-b-40-45 > div:nth-child(2) {
  width: 45%;
}

.ch-b-45-40 > div:nth-child(1) {
  width: 45%;
}
.ch-b-45-40 > div:nth-child(2) {
  width: 40%;
}

.ch-b-45-35 > div:nth-child(1) {
  width: 45%;
}
.ch-b-45-35 > div:nth-child(2) {
  width: 35%;
}

.ch-b-35-45 > div:nth-child(1) {
  width: 35%;
}
.ch-b-35-45 > div:nth-child(2) {
  width: 45%;
}

.ch-b-35-50 > div:nth-child(1) {
  width: 35%;
}
.ch-b-35-50 > div:nth-child(2) {
  width: 50%;
}

.ch-b-45-30 > div:nth-child(1) {
  width: 45%;
}
.ch-b-45-30 > div:nth-child(2) {
  width: 30%;
}

.ch-b-30-45 > div:nth-child(1) {
  width: 30%;
}
.ch-b-30-45 > div:nth-child(2) {
  width: 45%;
}

.ch-b-30-50 > div:nth-child(1) {
  width: 30%;
}
.ch-b-30-50 > div:nth-child(2) {
  width: 50%;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-35 {
  gap: 35px;
}

.gap-40 {
  gap: 40px;
}

.gap-45 {
  gap: 45px;
}

.gap-50 {
  gap: 50px;
}

.gap-55 {
  gap: 55px;
}

.gap-60 {
  gap: 60px;
}

.gap-65 {
  gap: 65px;
}

.gap-70 {
  gap: 70px;
}

.gap-75 {
  gap: 75px;
}

.row-gap-10 {
  row-gap: 10px;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-30 {
  row-gap: 30px;
}

.row-gap-35 {
  row-gap: 35px;
}

.row-gap-40 {
  row-gap: 40px;
}

.row-gap-45 {
  row-gap: 45px;
}

.row-gap-50 {
  row-gap: 50px;
}

.row-gap-55 {
  row-gap: 55px;
}

.row-gap-60 {
  row-gap: 60px;
}

.row-gap-100 {
  row-gap: 100px;
}

/* Display Flex Items */
/* Grid layaut Adaptiv media query start */
.adaptive > * {
  width: 100%;
}

@media (min-width: 569px) {
  .j-c-sb-568 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .j-c-s-568 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .j-c-e-568 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .j-c-center-568 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .f-d-r-568 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .f-d-c-568 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-d-rr-568 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .f-d-cr-568 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .a-i-center-568 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .a-i-end-568 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .ch-b-10-568 > div {
    width: 10%;
  }
  .ch-b-20-568 > div {
    width: 20%;
  }
  .ch-b-23-568 > div {
    width: 23%;
  }
  .ch-b-25-568 > div {
    width: 25%;
  }
  .ch-b-26-568 > div {
    width: 26%;
  }
  .ch-b-27-568 > div {
    width: 27%;
  }
  .ch-b-28-568 > div {
    width: 28%;
  }
  .ch-b-30-568 > div {
    width: 30%;
  }
  .ch-b-31-568 > div {
    width: 31%;
  }
  .ch-b-32-568 > div {
    width: 32%;
  }
  .ch-b-33-568 > div {
    width: 33%;
  }
  .ch-b-3333-568 > div {
    width: 33.33%;
  }
  .ch-b-40-568 > div {
    width: 40%;
  }
  .ch-b-45-568 > div {
    width: 45%;
  }
  .ch-b-48-568 > div {
    width: 48%;
  }
  .ch-b-49-568 > div {
    width: 49%;
  }
  .ch-b-495-568 > div {
    width: 49.5%;
  }
  .ch-b-50-568 > div {
    width: 50%;
  }
  .ch-b-10-90-568 > div:nth-child(1) {
    width: 10%;
  }
  .ch-b-10-90-568 > div:nth-child(2) {
    width: 90%;
  }
  .ch-b-90-10-568 > div:nth-child(1) {
    width: 90%;
  }
  .ch-b-90-10-568 > div:nth-child(2) {
    width: 10%;
  }
  .ch-b-20-80-568 > div:nth-child(1) {
    width: 20%;
  }
  .ch-b-20-80-568 > div:nth-child(2) {
    width: 80%;
  }
  .ch-b-80-20-568 > div:nth-child(1) {
    width: 80%;
  }
  .ch-b-80-20-568 > div:nth-child(2) {
    width: 20%;
  }
  .ch-b-30-70-568 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-70-568 > div:nth-child(2) {
    width: 70%;
  }
  .ch-b-70-30-568 > div:nth-child(1) {
    width: 70%;
  }
  .ch-b-70-30-568 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-25-75-568 > div:nth-child(1) {
    width: 25%;
  }
  .ch-b-25-75-568 > div:nth-child(2) {
    width: 75%;
  }
  .ch-b-75-25-568 > div:nth-child(1) {
    width: 75%;
  }
  .ch-b-75-25-568 > div:nth-child(2) {
    width: 25%;
  }
  .ch-b-65-35-568 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-35-568 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-65-568 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-65-568 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-65-30-568 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-30-568 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-65-568 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-65-568 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-40-60-568 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-60-568 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-40-568 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-40-568 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-35-60-568 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-60-568 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-35-568 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-35-568 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-30-60-568 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-60-568 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-30-568 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-30-568 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-50-50-568 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-50-568 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-55-568 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-55-568 > div:nth-child(2) {
    width: 55%;
  }
  .ch-b-55-45-568 > div:nth-child(1) {
    width: 55%;
  }
  .ch-b-55-45-568 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-45-50-568 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-50-568 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-50-45-568 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-45-568 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-40-50-568 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-50-568 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-40-45-568 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-45-568 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-50-40-568 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-40-568 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-45-40-568 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-40-568 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-45-35-568 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-35-568 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-45-568 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-45-568 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-35-50-568 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-50-568 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-30-50-568 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-50-568 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-30-568 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-30-568 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-45-568 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-45-568 > div:nth-child(2) {
    width: 45%;
  }
  .gap-10-568 {
    gap: 10px;
  }
  .gap-15-568 {
    gap: 15px;
  }
  .gap-20-568 {
    gap: 20px;
  }
  .gap-25-568 {
    gap: 25px;
  }
  .gap-30-568 {
    gap: 30px;
  }
  .gap-35-568 {
    gap: 35px;
  }
  .gap-40-568 {
    gap: 40px;
  }
  .gap-45-568 {
    gap: 45px;
  }
  .gap-50-568 {
    gap: 50px;
  }
  .gap-55-568 {
    gap: 55px;
  }
  .gap-60-568 {
    gap: 60px;
  }
  .gap-65-568 {
    gap: 65px;
  }
  .gap-70-568 {
    gap: 70px;
  }
  .gap-75-568 {
    gap: 75px;
  }
  .ch-b-50--10-568 {
    gap: 10px;
  }
  .ch-b-50--10-568 > div {
    width: calc(50% - 5px);
  }
  .ch-b-50--20-568 {
    gap: 20px;
  }
  .ch-b-50--20-568 > div {
    width: calc(50% - 10px);
  }
  .ch-b-75-25--20-568 {
    gap: 20px;
  }
  .ch-b-75-25--20-568 > div:nth-child(1) {
    width: calc(75% - 10px);
  }
  .ch-b-75-25--20-568 > div:nth-child(2) {
    width: calc(25% - 10px);
  }
  /* Ширина елемента */
  .w-fit-568 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .w-100-568 {
    width: 100%;
  }
  .w-90-568 {
    width: 90%;
  }
  .w-80-568 {
    width: 80%;
  }
  .w-75-568 {
    width: 75%;
  }
  .w-70-568 {
    width: 70%;
  }
  .w-65-568 {
    width: 65%;
  }
  .w-60-568 {
    width: 60%;
  }
  .w-55-568 {
    width: 55%;
  }
  .w-50-568 {
    width: 50%;
  }
  .w-45-568 {
    width: 45%;
  }
  .w-40-568 {
    width: 40%;
  }
  .w-35-568 {
    width: 35%;
  }
  .w-33-568 {
    width: 33%;
  }
  .w-30-568 {
    width: 30%;
  }
  .w-15-568 {
    width: 15%;
  }
}
@media (min-width: 668px) {
  .j-c-sb-667 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .j-c-s-667 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .j-c-e-667 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .j-c-center-667 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .f-d-r-667 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .f-d-c-667 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-d-rr-667 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .f-d-cr-667 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .a-i-center-667 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .a-i-end-667 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .ch-b-10-667 > div {
    width: 10%;
  }
  .ch-b-20-667 > div {
    width: 20%;
  }
  .ch-b-23-667 > div {
    width: 23%;
  }
  .ch-b-25-667 > div {
    width: 25%;
  }
  .ch-b-26-667 > div {
    width: 26%;
  }
  .ch-b-27-667 > div {
    width: 27%;
  }
  .ch-b-28-667 > div {
    width: 28%;
  }
  .ch-b-30-667 > div {
    width: 30%;
  }
  .ch-b-31-667 > div {
    width: 31%;
  }
  .ch-b-32-667 > div {
    width: 32%;
  }
  .ch-b-33-667 > div {
    width: 33%;
  }
  .ch-b-3333-667 > div {
    width: 33.33%;
  }
  .ch-b-40-667 > div {
    width: 40%;
  }
  .ch-b-45-667 > div {
    width: 45%;
  }
  .ch-b-48-667 > div {
    width: 48%;
  }
  .ch-b-49-667 > div {
    width: 49%;
  }
  .ch-b-495-667 > div {
    width: 49.5%;
  }
  .ch-b-50-667 > div {
    width: 50%;
  }
  .ch-b-10-90-667 > div:nth-child(1) {
    width: 10%;
  }
  .ch-b-10-90-667 > div:nth-child(2) {
    width: 90%;
  }
  .ch-b-90-10-667 > div:nth-child(1) {
    width: 90%;
  }
  .ch-b-90-10-667 > div:nth-child(2) {
    width: 10%;
  }
  .ch-b-20-80-667 > div:nth-child(1) {
    width: 20%;
  }
  .ch-b-20-80-667 > div:nth-child(2) {
    width: 80%;
  }
  .ch-b-80-20-667 > div:nth-child(1) {
    width: 80%;
  }
  .ch-b-80-20-667 > div:nth-child(2) {
    width: 20%;
  }
  .ch-b-30-70-667 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-70-667 > div:nth-child(2) {
    width: 70%;
  }
  .ch-b-70-30-667 > div:nth-child(1) {
    width: 70%;
  }
  .ch-b-70-30-667 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-25-75-667 > div:nth-child(1) {
    width: 25%;
  }
  .ch-b-25-75-667 > div:nth-child(2) {
    width: 75%;
  }
  .ch-b-75-25-667 > div:nth-child(1) {
    width: 75%;
  }
  .ch-b-75-25-667 > div:nth-child(2) {
    width: 25%;
  }
  .ch-b-65-35-667 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-35-667 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-65-667 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-65-667 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-65-30-667 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-30-667 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-65-667 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-65-667 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-40-60-667 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-60-667 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-40-667 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-40-667 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-35-60-667 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-60-667 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-35-667 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-35-667 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-30-60-667 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-60-667 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-30-667 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-30-667 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-50-50-667 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-50-667 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-55-667 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-55-667 > div:nth-child(2) {
    width: 55%;
  }
  .ch-b-55-45-667 > div:nth-child(1) {
    width: 55%;
  }
  .ch-b-55-45-667 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-45-50-667 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-50-667 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-50-45-667 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-45-667 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-40-50-667 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-50-667 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-40-45-667 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-45-667 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-50-40-667 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-40-667 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-45-40-667 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-40-667 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-45-35-667 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-35-667 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-45-667 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-45-667 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-35-50-667 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-50-667 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-30-50-667 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-50-667 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-30-667 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-30-667 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-45-667 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-45-667 > div:nth-child(2) {
    width: 45%;
  }
  .gap-10-667 {
    gap: 10px;
  }
  .gap-15-667 {
    gap: 15px;
  }
  .gap-20-667 {
    gap: 20px;
  }
  .gap-25-667 {
    gap: 25px;
  }
  .gap-30-667 {
    gap: 30px;
  }
  .gap-35-667 {
    gap: 35px;
  }
  .gap-40-667 {
    gap: 40px;
  }
  .gap-45-667 {
    gap: 45px;
  }
  .gap-50-667 {
    gap: 50px;
  }
  .gap-55-667 {
    gap: 55px;
  }
  .gap-60-667 {
    gap: 60px;
  }
  .gap-65-667 {
    gap: 65px;
  }
  .gap-70-667 {
    gap: 70px;
  }
  .gap-75-667 {
    gap: 75px;
  }
  .ch-b-50--10-667 {
    gap: 10px;
  }
  .ch-b-50--10-667 > div {
    width: calc(50% - 5px);
  }
  .ch-b-50--20-667 {
    gap: 20px;
  }
  .ch-b-50--20-667 > div {
    width: calc(50% - 10px);
  }
  .ch-b-75-25--20-667 {
    gap: 20px;
  }
  .ch-b-75-25--20-667 > div:nth-child(1) {
    width: calc(75% - 10px);
  }
  .ch-b-75-25--20-667 > div:nth-child(2) {
    width: calc(25% - 10px);
  }
  /* Ширина елемента */
  .w-fit-667 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .w-100-667 {
    width: 100%;
  }
  .w-90-667 {
    width: 90%;
  }
  .w-80-667 {
    width: 80%;
  }
  .w-75-667 {
    width: 75%;
  }
  .w-70-667 {
    width: 70%;
  }
  .w-65-667 {
    width: 65%;
  }
  .w-60-667 {
    width: 60%;
  }
  .w-55-667 {
    width: 55%;
  }
  .w-50-667 {
    width: 50%;
  }
  .w-45-667 {
    width: 45%;
  }
  .w-40-667 {
    width: 40%;
  }
  .w-35-667 {
    width: 35%;
  }
  .w-33-667 {
    width: 33%;
  }
  .w-30-667 {
    width: 30%;
  }
  .w-15-667 {
    width: 15%;
  }
}
@media (min-width: 769px) {
  .j-c-sb-768 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .j-c-s-768 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .j-c-e-768 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .j-c-center-768 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .f-d-r-768 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .f-d-c-768 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-d-rr-768 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .f-d-cr-768 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .a-i-center-768 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .a-i-end-768 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  /* Ul Ol column and Grid */
  .columns-2-768 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .columns-3-768 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
  .columns-4-768 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
  .ch-b-10-768 > div {
    width: 10%;
  }
  .ch-b-20-768 > div {
    width: 20%;
  }
  .ch-b-23-768 > div {
    width: 23%;
  }
  .ch-b-25-768 > div {
    width: 25%;
  }
  .ch-b-26-768 > div {
    width: 26%;
  }
  .ch-b-27-768 > div {
    width: 27%;
  }
  .ch-b-28-768 > div {
    width: 28%;
  }
  .ch-b-30-768 > div {
    width: 30%;
  }
  .ch-b-31-768 > div {
    width: 31%;
  }
  .ch-b-32-768 > div {
    width: 32%;
  }
  .ch-b-33-768 > div {
    width: 33%;
  }
  .ch-b-3333-768 > div {
    width: 33.33%;
  }
  .ch-b-40-768 > div {
    width: 40%;
  }
  .ch-b-45-768 > div {
    width: 45%;
  }
  .ch-b-48-768 > div {
    width: 48%;
  }
  .ch-b-49-768 > div {
    width: 49%;
  }
  .ch-b-495-768 > div {
    width: 49.5%;
  }
  .ch-b-50-768 > div {
    width: 50%;
  }
  .ch-b-10-90-768 > div:nth-child(1) {
    width: 10%;
  }
  .ch-b-10-90-768 > div:nth-child(2) {
    width: 90%;
  }
  .ch-b-90-10-768 > div:nth-child(1) {
    width: 90%;
  }
  .ch-b-90-10-768 > div:nth-child(2) {
    width: 10%;
  }
  .ch-b-20-80-768 > div:nth-child(1) {
    width: 20%;
  }
  .ch-b-20-80-768 > div:nth-child(2) {
    width: 80%;
  }
  .ch-b-80-20-768 > div:nth-child(1) {
    width: 80%;
  }
  .ch-b-80-20-768 > div:nth-child(2) {
    width: 20%;
  }
  .ch-b-30-70-768 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-70-768 > div:nth-child(2) {
    width: 70%;
  }
  .ch-b-70-30-768 > div:nth-child(1) {
    width: 70%;
  }
  .ch-b-70-30-768 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-25-75-768 > div:nth-child(1) {
    width: 25%;
  }
  .ch-b-25-75-768 > div:nth-child(2) {
    width: 75%;
  }
  .ch-b-75-25-768 > div:nth-child(1) {
    width: 75%;
  }
  .ch-b-75-25-768 > div:nth-child(2) {
    width: 25%;
  }
  .ch-b-65-35-768 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-35-768 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-65-768 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-65-768 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-65-30-768 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-30-768 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-65-768 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-65-768 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-40-60-768 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-60-768 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-40-768 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-40-768 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-35-60-768 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-60-768 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-35-768 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-35-768 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-30-60-768 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-60-768 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-30-768 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-30-768 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-50-50-768 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-50-768 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-55-768 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-55-768 > div:nth-child(2) {
    width: 55%;
  }
  .ch-b-55-45-768 > div:nth-child(1) {
    width: 55%;
  }
  .ch-b-55-45-768 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-45-50-768 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-50-768 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-50-45-768 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-45-768 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-40-50-768 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-50-768 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-50-40-768 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-40-768 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-40-45-768 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-45-768 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-45-40-768 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-40-768 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-45-35-768 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-35-768 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-45-768 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-45-768 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-35-50-768 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-50-768 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-30-50-768 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-50-768 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-30-768 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-30-768 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-45-768 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-45-768 > div:nth-child(2) {
    width: 45%;
  }
  .gap-10-768 {
    gap: 10px;
  }
  .gap-15-768 {
    gap: 15px;
  }
  .gap-20-768 {
    gap: 20px;
  }
  .gap-25-768 {
    gap: 25px;
  }
  .gap-30-768 {
    gap: 30px;
  }
  .gap-35-768 {
    gap: 35px;
  }
  .gap-40-768 {
    gap: 40px;
  }
  .gap-45-768 {
    gap: 45px;
  }
  .gap-50-768 {
    gap: 50px;
  }
  .gap-55-768 {
    gap: 55px;
  }
  .gap-60-768 {
    gap: 60px;
  }
  .gap-65-768 {
    gap: 65px;
  }
  .gap-70-768 {
    gap: 70px;
  }
  .gap-75-768 {
    gap: 75px;
  }
  .ch-b-50--10-768 {
    gap: 10px;
  }
  .ch-b-50--10-768 > div {
    width: calc(50% - 5px);
  }
  .ch-b-50--20-768 {
    gap: 20px;
  }
  .ch-b-50--20-768 > div {
    width: calc(50% - 10px);
  }
  .ch-b-75-25--20-768 {
    gap: 20px;
  }
  .ch-b-75-25--20-768 > div:nth-child(1) {
    width: calc(75% - 10px);
  }
  .ch-b-75-25--20-768 > div:nth-child(2) {
    width: calc(25% - 10px);
  }
  .text-left-768 {
    text-align: left !important;
  }
  .text-center-768 {
    text-align: center;
  }
  .text-right-768 {
    text-align: end;
  }
  /* Ширина елемента */
  .w-fit-768 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .w-100-768 {
    width: 100%;
  }
  .w-90-768 {
    width: 90%;
  }
  .w-80-768 {
    width: 80%;
  }
  .w-75-768 {
    width: 75%;
  }
  .w-70-768 {
    width: 70%;
  }
  .w-65-768 {
    width: 65%;
  }
  .w-60-768 {
    width: 60%;
  }
  .w-55-768 {
    width: 55%;
  }
  .w-50-768 {
    width: 50%;
  }
  .w-45-768 {
    width: 45%;
  }
  .w-40-768 {
    width: 40%;
  }
  .w-35-768 {
    width: 35%;
  }
  .w-33-768 {
    width: 33%;
  }
  .w-30-768 {
    width: 30%;
  }
  .w-15-768 {
    width: 15%;
  }
}
@media (min-width: 1025px) {
  /* Ul Ol column and Grid */
  .columns-2-1024 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .columns-3-1024 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
  .columns-4-1024 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
  .ch-b-10-1024 > div {
    width: 10%;
  }
  .ch-b-20-1024 > div {
    width: 20%;
  }
  .ch-b-23-1024 > div {
    width: 23%;
  }
  .ch-b-25-1024 > div {
    width: 25%;
  }
  .ch-b-26-1024 > div {
    width: 26%;
  }
  .ch-b-27-1024 > div {
    width: 27%;
  }
  .ch-b-28-1024 > div {
    width: 28%;
  }
  .ch-b-30-1024 > div {
    width: 30%;
  }
  .ch-b-31-1024 > div {
    width: 31%;
  }
  .ch-b-32-1024 > div {
    width: 32%;
  }
  .ch-b-33-1024 > div {
    width: 33%;
  }
  .ch-b-3333-1024 > div {
    width: 33.33%;
  }
  .ch-b-40-1024 > div {
    width: 40%;
  }
  .ch-b-45-1024 > div {
    width: 45%;
  }
  .ch-b-48-1024 > div {
    width: 48%;
  }
  .ch-b-49-1024 > div {
    width: 49%;
  }
  .ch-b-495-1024 > div {
    width: 49.5%;
  }
  .ch-b-50-1024 > div {
    width: 50%;
  }
  .ch-b-10-90-1024 > div:nth-child(1) {
    width: 10%;
  }
  .ch-b-10-90-1024 > div:nth-child(2) {
    width: 90%;
  }
  .ch-b-90-10-1024 > div:nth-child(1) {
    width: 90%;
  }
  .ch-b-90-10-1024 > div:nth-child(2) {
    width: 10%;
  }
  .ch-b-20-80-1024 > div:nth-child(1) {
    width: 20%;
  }
  .ch-b-20-80-1024 > div:nth-child(2) {
    width: 80%;
  }
  .ch-b-80-20-1024 > div:nth-child(1) {
    width: 80%;
  }
  .ch-b-80-20-1024 > div:nth-child(2) {
    width: 20%;
  }
  .ch-b-30-70-1024 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-70-1024 > div:nth-child(2) {
    width: 70%;
  }
  .ch-b-70-30-1024 > div:nth-child(1) {
    width: 70%;
  }
  .ch-b-70-30-1024 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-25-75-1024 > div:nth-child(1) {
    width: 25%;
  }
  .ch-b-25-75-1024 > div:nth-child(2) {
    width: 75%;
  }
  .ch-b-75-25-1024 > div:nth-child(1) {
    width: 75%;
  }
  .ch-b-75-25-1024 > div:nth-child(2) {
    width: 25%;
  }
  .ch-b-65-35-1024 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-35-1024 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-65-1024 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-65-1024 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-65-30-1024 > div:nth-child(1) {
    width: 65%;
  }
  .ch-b-65-30-1024 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-65-1024 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-65-1024 > div:nth-child(2) {
    width: 65%;
  }
  .ch-b-40-60-1024 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-60-1024 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-40-1024 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-40-1024 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-35-60-1024 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-60-1024 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-35-1024 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-35-1024 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-30-60-1024 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-60-1024 > div:nth-child(2) {
    width: 60%;
  }
  .ch-b-60-30-1024 > div:nth-child(1) {
    width: 60%;
  }
  .ch-b-60-30-1024 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-50-50-1024 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-50-1024 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-55-1024 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-55-1024 > div:nth-child(2) {
    width: 55%;
  }
  .ch-b-55-45-1024 > div:nth-child(1) {
    width: 55%;
  }
  .ch-b-55-45-1024 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-45-50-1024 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-50-1024 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-50-45-1024 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-45-1024 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-40-50-1024 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-50-1024 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-50-40-1024 > div:nth-child(1) {
    width: 50%;
  }
  .ch-b-50-40-1024 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-40-45-1024 > div:nth-child(1) {
    width: 40%;
  }
  .ch-b-40-45-1024 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-45-40-1024 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-40-1024 > div:nth-child(2) {
    width: 40%;
  }
  .ch-b-45-35-1024 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-35-1024 > div:nth-child(2) {
    width: 35%;
  }
  .ch-b-35-45-1024 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-45-1024 > div:nth-child(2) {
    width: 45%;
  }
  .ch-b-35-50-1024 > div:nth-child(1) {
    width: 35%;
  }
  .ch-b-35-50-1024 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-30-50-1024 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-50-1024 > div:nth-child(2) {
    width: 50%;
  }
  .ch-b-45-30-1024 > div:nth-child(1) {
    width: 45%;
  }
  .ch-b-45-30-1024 > div:nth-child(2) {
    width: 30%;
  }
  .ch-b-30-45-1024 > div:nth-child(1) {
    width: 30%;
  }
  .ch-b-30-45-1024 > div:nth-child(2) {
    width: 45%;
  }
  .gap-10-1024 {
    gap: 10px;
  }
  .gap-15-1024 {
    gap: 15px;
  }
  .gap-20-1024 {
    gap: 20px;
  }
  .gap-25-1024 {
    gap: 25px;
  }
  .gap-30-1024 {
    gap: 30px;
  }
  .gap-35-1024 {
    gap: 35px;
  }
  .gap-40-1024 {
    gap: 40px;
  }
  .gap-45-1024 {
    gap: 45px;
  }
  .gap-50-1024 {
    gap: 50px;
  }
  .gap-55-1024 {
    gap: 55px;
  }
  .gap-60-1024 {
    gap: 60px;
  }
  .gap-65-1024 {
    gap: 65px;
  }
  .gap-70-1024 {
    gap: 70px;
  }
  .gap-75-1024 {
    gap: 75px;
  }
  .ch-b-50--10-1024 {
    gap: 10px;
  }
  .ch-b-50--10-1024 > div {
    width: calc(50% - 5px);
  }
  .ch-b-50--20-1024 {
    gap: 20px;
  }
  .ch-b-50--20-1024 > div {
    width: calc(50% - 10px);
  }
  .ch-b-75-25--20-1024 {
    gap: 20px;
  }
  .ch-b-75-25--20-1024 > div:nth-child(1) {
    width: calc(75% - 10px);
  }
  .ch-b-75-25--20-1024 > div:nth-child(2) {
    width: calc(25% - 10px);
  }
  /* Ширина елемента */
  .w-fit-1024 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .w-100-1024 {
    width: 100%;
  }
  .w-90-1024 {
    width: 90%;
  }
  .w-80-1024 {
    width: 80%;
  }
  .w-75-1024 {
    width: 75%;
  }
  .w-70-1024 {
    width: 70%;
  }
  .w-65-1024 {
    width: 65%;
  }
  .w-60-1024 {
    width: 60%;
  }
  .w-55-1024 {
    width: 55%;
  }
  .w-50-1024 {
    width: 50%;
  }
  .w-45-1024 {
    width: 45%;
  }
  .w-40-1024 {
    width: 40%;
  }
  .w-35-1024 {
    width: 35%;
  }
  .w-33-1024 {
    width: 33%;
  }
  .w-30-1024 {
    width: 30%;
  }
  .w-15-1024 {
    width: 15%;
  }
}
/* Grid layaut Adaptiv media query end */
/* Image and Media */
.img-res {
  width: 100%;
  height: auto;
}

.stretched-media {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

/* Затемнение блока */
.overlay {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.overlay-i {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.overlay-before::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: var(--main-fon);
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: auto;
}

.title {
  font-size: 70px;
  line-height: 117.2%;
  text-align: center;
  color: var(--main-text-color);
}

.btn {
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 158.7%;
  color: var(--darck-text);
  background: var(--btn-fon);
  -webkit-box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), inset 0px -4px 0px #8F4119;
          box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), inset 0px -4px 0px #8F4119;
  border-radius: 20px;
  padding: 36px 85px 35px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  font-weight: 400;
  color: var(--main-text-color);
  border: 4px solid rgb(206, 105, 51);
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 32px 85px 31px;
  background: transparent;
}

.btn-clear {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 158.7%;
  text-align: center;
  color: var(--main-text-color);
  border: 4px solid rgb(206, 105, 51);
  border-radius: 20px;
  padding: 36px 85px 35px;
  background: transparent;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-clear:hover {
  text-align: center;
  font-weight: 700;
  color: var(--darck-text);
  background: var(--btn-fon);
  -webkit-box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), inset 0px 0px 0px #8F4119;
          box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), inset 0px 0px 0px #8F4119;
  border-radius: 20px;
}

.header {
  width: 100%;
  background: #7faff6;
  padding: 30px;
}

.header__button {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-text-color);
  border-radius: 5px;
  padding: 8px 15px;
  background: #a5c7f9;
}
.header__button a {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-text-color);
  text-decoration: none;
}

.grid-section {
  width: 100%;
  background: #b3f95a;
}

.grid-section--margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid-section__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 198px);
  grid-gap: 15px;
}
@media (max-width: 425px) {
  .grid-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-section__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #8ad191;
}
@media (max-width: 425px) {
  .grid-section__block {
    padding: 50px;
  }
}
.grid-section__block:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-section__block:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 6;
}
.grid-section__block:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 6;
}

.count {
  font-weight: 400;
  font-size: 53px;
  color: var(--main-text-color);
}
@media (max-width: 425px) {
  .count {
    font-size: 30px;
  }
}

.flex-section {
  width: 100%;
  background: #88b5bf;
  padding: 30px;
}

.flex-section--margin {
  margin-bottom: 100px;
}

.flex-section__container {
  width: 1110px;
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-section__block {
  width: 22.972972973%;
  aspect-ratio: 16/9;
  background: #0d89b0;
}

.footer {
  width: 100%;
  height: 100px;
  background: #7faff6;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  height: 400px;
  background: #fff;
  display: none;
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.popup-content p {
  font-weight: 400;
  font-size: 53px;
  color: var(--darck-text);
}

.popup:target {
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  padding: 8px 15px;
  width: 43px;
  height: 39px;
  background: #7faff6;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
}

.close:hover {
  color: #555;
}/*# sourceMappingURL=style.css.map */